body {
    max-width: 480px;
    margin:auto;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.page_header {
    padding: 2em 0;
}

.page_body {
    padding: 0 15px;
}

.page_title {
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}

.page_desc {
    text-align: center;
    color: #888;
    font-size: 14px;
}

.text_warn {
    color: #EF4F4F;
}

.section_box {
    border: 0px;
    margin: 0.8em 0px 0.5em;
    box-sizing: border-box;
    padding: 0px;
}

.section_header {
    display: inline-block;
    padding: 0px 2px 2px;
    box-sizing: border-box;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #FF6666;
    line-height: 1;
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    text-align: center;
    text-decoration: inherit;
}

.section_num {
    display: inline-block;
    margin: 0px;
    padding: 0.3em 0.4em;
    min-width: 1.8em;
    min-height: 1.6em;
    border-radius: 80% 100% 90% 20%;
    line-height: 1;
    font-size: 1em;
    font-family: inherit;
    box-sizing: border-box;
    word-wrap: break-word !important;
    background-color: #FF6666;
    color: rgb(255, 255, 255);
}

.section_body {
    max-width: 100%;
    font-size: 112.5%;
    font-family: inherit;
    font-weight: bolder;
    text-align: inherit;
    text-decoration: inherit;
    color: #FF6666;
    box-sizing: border-box;
    word-wrap: break-word !important;
}

.info_title {
    word-wrap: break-word;
    max-width: 360px;
}

.info_box {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.info_time {
    color: #999999;
    font-size: 13px;
    padding: 0 0.5em 0;
}

.info_publish {
    color: #09BB07;
}

#info_edit {
    margin-right: 0;
    color: #5a5a5a;
    border: 1px solid #5a5a5a;
    font-size: 12px;
    padding: 0 0.25em;
}

#weui_btn_plain_warn {
    color: #EF4F4F;
    border: 1px solid #EF4F4F;
}
